<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><!-- para las fuentes-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" /> <!-- para los iconos-->

  <title>Mercado libre</title>

</head>

<body>
  <header> <!-- Encabezado PRINCIPAL-->
    <div class="logo">
      <a href="/">
        <img width="320" id="logo" title="Mercado liebre" src="/img/logo-mercado-liebre.svg" alt="Logo de la empresa">
      </a>
    </div>
    <h1>Mercado libre</h1><!-- si agrego hidden no se vera -->

    <div class="search-bar">
      <!-- Aquí puedes agregar el código para la barra de búsqueda -->
      <input type="text" placeholder="Buscar..."> <!-- ingresa texto para la busqueda-->
      <button type="submit">Buscar</button> <!-- boton buscar-->
      <div class="icono-busqueda"> <!-- icono de busqueda-->
        <i class="fas fa-search"></i>
      </div>
    </div>
    
    
    <!-- en ves de usara div arriba en la clase usamos  <form action="/">   </form> ,yo lo dejo con div-->

    <div class="promo">
      
      <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    </div>

    <nav class="menu-lista">
      <ul> <!-- Lista desordenada -->
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>

      </ul>
    </nav>
    <nav  class="usuario-lista">
      <ul> <!-- Lista desordenada -->

        <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>

    <div class="icono-menu"> <!-- icono de menu-->
      <i class="fas fa-bars"></i>
    </div>

  </header>

  <main>
    <section class="ultima-visita-section">
      <header>
        <h2>Basado en tu última visita</h2>
      </header>
      <article>
        <div class="product">
          <img width="320" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
          <p class="productos-precios">$6.770</p>
          <p class="productos-descuentos">40% OFF</p>
          <p><strong>Cafetera Moulinex</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
          <p class="productos-precios">$230.000</p>
          <p class="productos-descuentos">20% off</p>
          <p><strong>MacBook Pro 2019</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
          <p class="productos-precios">$70.500</p>
          <p class="productos-descuentos">10% off</p>
          <p><strong>Samsung Galaxy S10</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
          <p class="productos-precios">$23.200</p>
          <p class="productos-descuentos">5% off</p>
          <p><strong>SmartTv Samsung 43"</strong></p>
        </div>
      </article>
    </section>
    <section class="Ofertas seccion">
      <header>
        <h2>Sección de Ofertas</h2>
      </header>

      <article>
        <div class="product">
          <img width="320" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
          <p class="productos-precios">$6.770</p>
          <p class="productos-descuentos">40% OFF</p>
          <p><strong>Cafetera Moulinex</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
          <p class="productos-precios">$230.000</p>
          <p class="productos-descuentos">20% off</p>
          <p><strong>MacBook Pro 2019</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
          <p class="productos-precios">$70.500</p>
          <p class="productos-descuentos">10% off</p>
          <p><strong>Samsung Galaxy S10</strong></p>
        </div>
      </article>

      <article>
        <div class="product">
          <img width="320" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">
          <p class="productos-precios">$23.200</p>
          <p class="productos-descuentos">5% off</p>
          <p><strong>SmartTv Samsung 43"</strong></p>
        </div>
      </article>
    </section>
  </main>

  <footer>
    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-credit-card"></i>
      </div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p class="footer-descripcion">Con Mercado Liebre Cash, tenés cuotas sin<br>
        interés con tarjeta o efectivo en puntos de<br>
        pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-gift"></i>
      </div>
      <h3>Envío gratis desde $ 2.500</h3>
      <p class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de productos. Es<br> un beneficio
        de Mercado Puntos.</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-user-shield"></i>
      </div>
      <h3>Seguridad, de principio a fin</h3>
      <p class="footer-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer, porque estás<br> siempre
        protegid@.</p>
    </section>

    <section class="footer-seccion">
      <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>



</body>

</html>