<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/home.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><!-- para las fuentes-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
  <!-- para los iconos-->

  <title>Mercado liebre</title>

</head>

<body>
  <header> <!-- Encabezado PRINCIPAL-->
    <h1 hidden>Mercado liebre</h1><!-- si agrego hidden no se vera -->
    <div class="main-header-top-bar">
      <div class="logo">
        <a href="/">
          <img class="logoo" title="Mercado liebre" src="/img/logo-mercado-liebre.svg" alt="Logo de la empresa">
        </a>
      </div>

      <!--no uso id porq ya hice estilos con class, tendria que cambiar el llamado de . a #-->
      <form action="/" method="get" class="search-bar">
        <!-- Aquí puedes agregar el código para la barra de búsqueda -->
        <input type="text" placeholder="Buscar productos,marcas"> <!-- ingresa texto para la busqueda-->
        <button type="submit" title="Buscar"> <!-- boton buscar-->
          <div class="icono-busqueda"> <!-- icono de busqueda-->
            <i class="fas fa-search"></i>
          </div>
        </button>

      </form>

      <!-- en ves de usara div arriba en la clase usamos  <form action="/">   </form> ,yo lo dejo con div-->

      <div class="promo">

        <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
      </div>
    </div>

    <nav class="menu">
      <ul class="menu-lista"> <!-- Lista desordenada -->
        <li><a href="#">Ofertas</a></li>
        <li><a href="#">Tiendas Oficiales</a></li>
        <li><a href="#">Vender</a></li>
        <li><a href="#">Ayuda</a></li>

      </ul>

      <ul class="menu-usuario"> <!-- Lista desordenada -->

        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
      </ul>
    </nav>

    <div class="icono-menu"> <!-- icono de menu-->
      <i class="fas fa-bars"></i>
    </div>

  </header>
  <!-- --------------------MAIN------------------------- -->
  <main>
    <img class="fondo-publicidad" src="img/img-home-banner.jpg" alt="publicidad">

    <section class="ultima-visita-section">
      <header>
        <h2>Basado en tu última visita</h2>
      </header>
      <section class="articulos">
        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
          <!--<h2 class="productos-nombre"><strong>Cafetera Moulinex</strong></h2>-->
          <div class="product">

            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>Cafetera Moulinex</strong></p>
            <!-- <p class="productos-precios">$6.770</p>
            <p class="productos-descuentos">40% off</p> -->
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$70.500</span>
              <span class="productos-descuentos">10% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>MacBook Pro 2019</strong></p>
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$230.000</span>
              <span class="productos-descuentos">20% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>Samsung Galaxy S10</strong></p>
            <div class="productos-precios-descuentos">
              <span class="productos-precios">$70.500</span>
              <span class="productos-descuentos">10% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>SmartTv Samsung 43"</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$23.200</span>
              <span class="productos-descuentos">5% off</span>
            </div>
            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>
      </section>
    </section>
    <section class="Ofertas seccion">
      <header>
        <h2>Sección de Ofertas</h2>
      </header>
      <section class="articulos">
        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>Cafetera Moulinex</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$6.770</span>
              <span class="productos-descuentos">40% OFF</span>
            </div>

            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">

          <img class="productos-imagenes" width="320" src="img/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>MacBook Pro 2019</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$230.000</span>
              <span class="productos-descuentos">20% off</span>
            </div>

            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>


        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>

            <p class="productos-nombres"><strong>Samsung Galaxy S10</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$70.500</span>
              <span class="productos-descuentos">10% off</span>
            </div>

            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>

        <article class="articulo">
          <img class="productos-imagenes" width="320" src="img/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43&quot;">

          <div class="product">
            <div class="icono-envio">
              <i class="fas fa-truck"></i>
            </div>
            <p class="productos-nombres"><strong>SmartTv Samsung 43"</strong></p>
            <div class="productos-precios-descuentos">

              <span class="productos-precios">$23.200</span>
              <span class="productos-descuentos">5% off</span>
            </div>

            <p class="productos-descripciones">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi modi
              repellat, maxime dolores impedit natus magni ullam. </p>

          </div>
        </article>
      </section>
    </section>
  </main>
  <!-- ------------------------FOOTER ----------------------- -->
  <footer>
    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-credit-card"></i>
      </div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p class="footer-descripcion">Con Mercado Liebre Cash, tenés cuotas sin<br>
        interés con tarjeta o efectivo en puntos de<br>
        pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-gift"></i>
      </div>
      <h3>Envío gratis desde $ 2.500</h3>
      <p class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
        productos. Es<br> un beneficio
        de Mercado Puntos.</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-user-shield"></i>
      </div>
      <h3>Seguridad, de principio a fin</h3>
      <p class="footer-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer,
        porque estás<br> siempre
        protegid@.</p>
    </section>

    <section class="footer-seccion">
      <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>



</body>

</html>