<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"><!-- para las fuentes-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <!-- para los iconos-->
    <title>Register</title>
</head>

<body>
    <form id="login" action="/login" method="GET">
        <div>
          <label for="usuario">Nombre de usuari@:</label>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required>
        </div>
      
        <div>
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">

        </div>
      
        <button type="submit">Iniciar sesión</button>
      </form>


</body>

</html>