
*{
    margin: 0px;
    padding: 0px;
   box-sizing: border-box; /*es buena practica*/
   /* font-family: 'Barlow';*/
   /*border: 1px solid red;
   /*360 768 1279*/
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

/*------------------------------------HEADER-------------------------------------------------*/
body > header {
    background-color: #EAC926; /*encabezado color*/
   padding: 20px;

  }
  .main-header-top-bar {
   
    display: flex;/*trabajamos sobre el contenedor*/
    flex-wrap: wrap;
    justify-content: space-around;/*acomoda el primero y ultimo al rincon*/
/*margin: auto;*/
/*flex: 100%;*/
padding: 10px;
align-items: stretch;/*ocupa todo el alto del item (de alguna manera lo centra)*/
}

  .logo{/*el logo de mercado libre se adapte*/
    max-width:45%;
    
flex: 50%;

  }

  .logo img{
    max-width: 100%; /* La imagen no será más ancha que su tamaño original */
    height: auto;    /* La altura se ajustará automáticamente según el ancho */
  } 
  .search-bar{
    display: flex;/*hago un flex de la barra de busqueda con el boton*/
    background-color: white;
    /*align-self: center;*/
  border-radius: 5px;
  }
  .search-bar{
    max-width:45%;
    /*height: 50px;/*
  /*  max-height: 42px;*/
    flex: 50%;
   
    /*margin: auto;
 /*  justify-content: center;*/
 align-items: center;
 
 /*margin-top: 10px;*/
  }
  input[type="text"]{/*la barra para buscar se adapte*/
    width: 100%; /*ocupa todo el ancho*/
    height: 100%;
    border-radius: 5px;
    border: transparent;
  /* flex: 100%;*/
 /* margin: auto;*/
}
button[type="submit"] {/*boton*/
max-width: 30%;
text-align: center;
border: transparent;

}
.icono-busqueda{
  width: 100%;
height:100%;
color: #666;
  font-size:130%;
  background-color: white;
  padding-top: 10%;/*centro la lupa en su contorno*/

}
  .promo{
   /* flex: 50%;*/
    /*margin: 10px 0;*/
    padding-top: 10px;
    /*width: 100%;*/
/*height: 50px;*/
flex: 50%;

  }
.icono-menu {
    background-color:#03264C;
    color: white;
    display:block;
    max-width: 50px; /*ancho del fondo asi no ocupa toda la linea*/
    padding: 15px 0; /*aultura y 0 los lados, max width se encarga del ancho*/
    border-radius: 8%; /*manipulo la forma del fondo ej ciculo o cuadrado*/
    text-align: center;/*centra el contenido*/
    font-size: 18px;
    margin: auto;
    
}

.promo {
    text-align: center;
    font-size: 0.9em;
}


.menu ul {
  /* Elimina las viñetas de la lista */
    list-style-type: none;
    display: none;
    
}

.menu a {
    text-decoration: none;
    /* Elimina el subrayado predeterminado de los enlaces */
    color: #222222;
    /* Cambia el color de la letra a negro */
    display: inline-block;/*linea y bloke , pero lo hago para darle relleno con padding*/
/*padding:5px 0;*/
font-size: 15px;
}

/*------------------------------------MAIN-------------------------------------------------*/
.fondo-publicidad{
  width: 100%;
}
main {
    max-width: 90%;  /*ancho de la pantalla*/
    padding: 15px;
    margin:  auto;  /*se centra*/
   background-color: #ebebeb;
   
  }

  h2 {
    /* Titulares (Basado en tu última visita/Ofertas) */
    font-size: 24px ;
    color: #666;
    text-align: center;
     margin: 15px;
 }
 .articulos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
 }
article {
    
    max-width: 90%; /*el tamañano del articulo es igual a la imagen*/
    margin:auto; /*centro el articulo al medio de main*/
margin: 10px; /*separacion de 10px cada article*/
background-color: white;
}

.productos-imagenes {
    max-width: 100%; /* La imagen no será más ancha que su tamaño original */
    height: auto;    /* La altura se ajustará automáticamente según el ancho */
  }
.product {
   border-top: 1px solid #ebebeb; /*linea superior*/
   padding: 20px; /*relleno*/
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   
   
  }
  
  .product .icono-envio {
    display: block  ;/*en bloque*/
    font-size: 16px;/*tamaño imagen*/
    padding: 5px;
    width: 30px; /* ajusta el tamaño del círculo según tus necesidades ancho */
    height: 30px; /* ajusta el tamaño del círculo según tus necesidades alto*/
    border: 1px solid #39b54a ;
    background-color: #fff; /* color de fondo del círculo */
    border-radius: 50%; /* crea un círculo mediante el uso de bordes redondeados */
    position: absolute;
    right: 20px;
    top: -15px;
    
  }
  .product{
    position: relative;
  }
  .icono-envio i {
    color: #39b54a; /* color del ícono */
    font-size: 16px; /* ajusta el tamaño del ícono según tus necesidades */
  }
p.productos-precios {
  /* Precios */
    font-size: 18px;
    flex: 30%;
}

p.productos-descuentos {
   /* descuentos */
    font-size: 16px;
    color: #39b54a;
    flex: 70%;
    padding-bottom: 1px;
}

p.productos-descripciones {
    color: #666;
    font-size: 16px;
    /* descripciones */
    margin-top: 15px;
    display: none;
}

/*--------------------------------- FOOTER --------------------------------------------------*/
footer {
    text-align: center;
    /* Centrar el contenido del pie de página */
    padding: 20px;
    /* Agregar un espacio de 20px alrededor del contenido */
    background-color: white;
    color: #666;
}

.footer-icono i {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
   
    color: rgb(3, 80, 221);
}

h3,
.footer-descripcion {
    
    /* Elimina el margen vertical predeterminado */
    margin: 0;
    color: #666;
}

.footer-seccion {
    margin-bottom: 40px;
    /* Ajusta el valor según sea necesario */
}
.footer-copyright {
    text-align: left;
  }

  /* --------------- CORTES -----------------*/
 
  
  @media  (min-width: 361px) {
    .logo img{
      max-width: 95%; /* 95% del flex*/
     
    } 
    .search-bar{
      
     max-height: 42px;/*42*/
    /* margin: auto;*/
    margin-top: 1%;
    
    }
    .promo {
     text-align: center;
      font-size: 1.2em;
  }
    p.productos-descripciones, .menu ul {
      display: block;
    }
    .menu{
      display: flex;
      justify-content: space-between;
      padding: 0 5%;
    }

    article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
      /*sombreado al contorno*/
      }
      .icono-menu {
        display: none;
      }
      article {
    
        max-width: 40%; 
    
    }
  }
  
  /* Estilos para dispositivos de escritorio (ancho mínimo 769px) */
  @media  (min-width: 769px) {
    .logo img{
      max-width: 80%; /*  del flex*/
     
    } 
    input[type="text"]{/*la barra para buscar se adapte*/
      width: 100%; /*ocupa todo el ancho*/
      height: 100;
      
    
  }
    .main-header-top-bar {
      align-items: center;
      justify-content: space-between;
    }

   .logo, .search-bar, .promo{
    max-width: 33%;
    flex: 33%;
    margin-top: 0;
    padding-top: 0;
   }
    article {
      max-width: 30%; 
    }
    .promo{
      max-width: 28%;/*tamañano del fondo 200px */
     text-align: right;
     font-size: 1.6em;
     
  }
  .menu{
    
    padding: 2% 2% 0;
  }
  .menu ul{
    display: flex;
 
  }
  .menu li{
    margin: 0 5px;
  }
  }
  @media (min-width:1280px){
    .menu{
    
      padding: 2% 1% 0;
    }
    article {
      max-width: 23%; 
    }
    .promo{
      max-width: 40%;/*tamañano del fondo 200px */
     
     font-size: 1.6em;
  }
  .menu a{
    
    font-size: 1.5em ;
}
  }