input[type="submit"]{
    border: none;
    height: 30px;
   width: 95%;
   max-width: 700px;
   border-radius: 7px;
}
button {
    border: none; /* Elimina todos los bordes */
    /* Otros estilos opcionales */
    height: 30px;
    width: 95%;
    max-width: 700px;
    border-radius: 7px;
    background-color:#03264C;
    color: white;
    transition: background-color 0.3s ease; /* Agrega una transición suave para el cambio de color */
  }
  button:hover {
   background-color: #0022AA; /* Cambia el color de fondo al pasar el mouse */
 }
 
 form{
    padding-top: 30vh;
 }
