<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>  
  <link rel="stylesheet" href="/css/home.css"> 
     <link rel="stylesheet" href="/css/register.css"> 
    <link rel="stylesheet" href="/css/login.css">
   
    <title>Login</title>
</head>

<body>
  
     <!-- --------------------HEADER------------------------- -->
     <%- include('./partials/header.ejs') %> 
     <!-- --------------------MAIN------------------------- -->
     <main class="main-login">
    <form id="login" action="/login" method="GET">
        <div>
          <label for="usuario">Nombre de usuari@:</label>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre de usuario" required>
        </div>
      
        <div>
          <label for="contrasena">Contraseña:</label>
          <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña">

        </div>
      
        <button type="submit">Iniciar sesión</button>
      </form>

    </main>
    <!-- ------------------------FOOTER ----------------------- -->
 
  <%- include('./partials/footer.ejs') %>
</body>

</html>