<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css"> 
    <link rel="stylesheet" href="/css/register.css">
    
    <title>Register</title>
</head>

<body>
      <!-- --------------------HEADER------------------------- -->
      <%- include('./partials/header.ejs') %> 
      <!-- --------------------MAIN------------------------- -->
    <main class="main-register">
    <!-- action: Direccion hacia donde se ENVIA la informacion y se va a trabajar con ella -->
    <form id="register" action="/register" method="GET">
        <div>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Nombre y apellido" required>
        </div>

        <div>
            <label for="usuario">Nombre de usuari@:</label>
            <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="E-mail" required>
        </div>
        <div>
            <div>
                <label for="fechaNacimiento">Fecha de nacimiento:</label>
            </div>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento" required>
        </div>
        <div>
            <label for="domicilio">Domicilio:</label>
            <input type="text" id="domicilio" name="domicilio" placeholder="Domicilio" required>
        </div>
        

        <div>
            <div>
                <label class="label-titulo">Perfil del usuario:</label>
            </div>
            <div class="register-radio">
                <input type="radio" id="comprador" name="perfil" value="comprador" required>
                <label for="comprador">Comprador</label>

                <input type="radio" id="vendedor" name="perfil" value="vendedor" required>
                <label for="vendedor">Vendedor</label>
            </div>
        </div>

        <div>
            <div>
                <label class="label-titulo">Interés:</label>
            </div>
            <div class="register-checkbox">
                <input type="checkbox" id="electro" name="interes" value="electro">
                <label for="electro">Electro</label>

                <input type="checkbox" id="moda" name="interes" value="moda">
                <label for="moda">Moda</label>

                <input type="checkbox" id="hogar" name="interes" value="hogar">
                <label for="hogar">Hogar</label>

                <input type="checkbox" id="jugueteria" name="interes" value="jugueteria">
                <label for="jugueteria">Juguetería</label>

                <input type="checkbox" id="vidaSana" name="interes" value="vidaSana">
                <label for="vidaSana">Vida sana</label>
            </div>
        </div>
        <div>
            <div>
                <label for="foto">Foto de usuario:</label>
            </div>
            <div>
                <input type="file" id="foto" name="foto" accept="image/*">
            </div>
        </div>
        <div>
            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" placeholder="Contraseña" required>
        </div>
        <div>
            <label for="confirmarContrasena">Confirmar contraseña:</label>
            <input type="password" id="confirmarContrasena" name="confirmarContrasena"
                placeholder="Confirmar contraseña" required>
        </div>
         <div class="botones">
        <button type="submit" class="boton-login" formaction="login">submit</button>
        <button type="reset" class="boton-reset">reset</button>
        </div>
    </form>
</main>
<!-- ------------------------FOOTER ----------------------- -->
 
<%- include('./partials/footer.ejs') %>
</body>

</html>