<footer>
    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-credit-card"></i>
      </div>
      <h3>Pagá con tarjeta o en efectivo</h3>
      <p class="footer-descripcion">Con Mercado Liebre Cash, tenés cuotas sin<br>
        interés con tarjeta o efectivo en puntos de<br>
        pago. ¡Y siempre es seguro!</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-gift"></i>
      </div>
      <h3>Envío gratis desde $ 2.500</h3>
      <p class="footer-descripcion">Solo por estar registrad@ en Mercado Liebre<br> tenés envíos gratis en miles de
        productos. Es<br> un beneficio
        de Mercado Puntos.</p>
    </section>

    <section class="footer-seccion">
      <div class="footer-icono"> <!-- icono -->
        <i class="fas fa-user-shield"></i>
      </div>
      <h3>Seguridad, de principio a fin</h3>
      <p class="footer-descripcion">¿No te gusta? ¡Devolvelo! En Mercado Liebre,<br> no hay nada que no puedas hacer,
        porque estás<br> siempre
        protegid@.</p>
    </section>

    <section class="footer-seccion">
      <p class="footer-copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
  </footer>
